    body {
        margin: 3rem;
    }

    .container {
        margin: 0 auto;
        padding: 20px;
    }

    .card {
        width: 290px;
        height: 295px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 20px 0px;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: 205px;
        border-radius: 10px;
        margin-bottom: 10px;
    }


    h3 {
        font-size: 16px;
        text-transform: capitalize;
        margin-top: 10px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

    }

    p {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .pagination_container {
        text-align: center;
        margin-top: 2rem;
    }

    button {
        background-color: white;
        color: #007BFF;
        border: 1px solid #007BFF;
        border-radius: 4px;
        padding: 8px 16px;
    }

    button:hover {
        background-color: #007BFF;
        color: white;
    }
    button:disabled{
        background-color: lightgrey;
        cursor: not-allowed;
        opacity: 0.6;
    }
    .page-link.active{
        background-color: #007BFF;
        color: white;
    }
